.select-img:hover {
  cursor: pointer;
  border: 2px solid #021a40;
}

.ui.tiny.images .image,
.ui.tiny.images img,
.ui.tiny.images svg {
  width: auto;
  height: 80px;
}

.image-show {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

.image-slide {
  text-align: center;
}
