.item-detail {
  display: grid;
  grid-gap: 1em;
  margin: 1em 0;
  padding: 1em;
  background: #fff;
}

@media screen and (max-width: 999px) {
  .item-detail {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .item-detail {
    grid-template-columns: 2fr 3fr;
  }
}
