.ui.avatar.image {
  width: 5em;
  height: 5em;
  border-radius: 0;
}

/* What you need: */
table td,
table th {
  white-space: nowrap;
}

.quantity .title {
  color: #757575;
}

.quantity .button {
  margin: 0 10px;
}
